#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_SELCOM DIALOGEX 0, 0, 300, 140
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
   CONTROL "", IDC_COMBO1, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VSCROLL | WS_TABSTOP, 102, 25, 195, 104 
   CONTROL "", IDC_TEXT2, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 40, 95, 65 
   CONTROL "", IDC_TEXT1, STATIC, SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 0, 25, 95, 8 
   CONTROL "", IDC_SPACEREQUIRED, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 115, 100, 18 
   CONTROL "", IDC_INTROTEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 0, 300, 20 
   CONTROL "", IDC_TREE1, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_DISABLEDRAGDROP | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 102, 40, 195, 95 
END

