#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_LICENSE DIALOGEX 0, 0, 266, 70
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
   CONTROL IDI_ICON2, IDC_ULICON, STATIC, SS_ICON | WS_CHILD, 0, 0, 20, 20 
   CONTROL "", IDC_INTROTEXT, STATIC, SS_LEFT | WS_CHILD, 25, 0, 241, 23 
   CONTROL "", IDC_EDIT1, "RichEdit20A", ES_LEFT | ES_MULTILINE | ES_READONLY | WS_CHILD | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 0, 24, 266, 47 
END

IDD_DIR DIALOGEX 0, 0, 266, 70
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
   CONTROL "", IDC_DIR, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_BORDER | WS_TABSTOP, 8, 35, 187, 12 
   CONTROL "", IDC_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_TABSTOP, 202, 34, 55, 14 
   CONTROL IDI_ICON2, IDC_ULICON, STATIC, SS_ICON | WS_CHILD, 0, 0, 20, 20 
   CONTROL "", IDC_SELDIRTEXT, STATIC, SS_LEFTNOWORDWRAP | WS_CHILD, 0, 22, 265, 8 
   CONTROL "", IDC_SPACEAVAILABLE, STATIC, SS_LEFTNOWORDWRAP | WS_CHILD, 1, 63, 265, 8 
   CONTROL "", IDC_SPACEREQUIRED, STATIC, SS_LEFTNOWORDWRAP | WS_CHILD, 1, 54, 265, 8 
   CONTROL "", IDC_INTROTEXT, STATIC, SS_LEFT | WS_CHILD, 25, 0, 241, 18 
END

IDD_SELCOM DIALOGEX 0, 0, 266, 70
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
   CONTROL "", IDC_COMBO1, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VSCROLL | WS_TABSTOP | NOT WS_VISIBLE, 114, 15, 152, 94 
   CONTROL IDI_ICON2, IDC_ULICON, STATIC, SS_ICON | WS_CHILD, 0, 0, 21, 20 
   CONTROL "", IDC_TEXT2, STATIC, SS_LEFT | WS_CHILD, 0, 33, 108, 29 
   CONTROL "", IDC_TEXT1, STATIC, SS_LEFTNOWORDWRAP | WS_CHILD, 0, 20, 108, 8 
   CONTROL "", IDC_SPACEREQUIRED, STATIC, SS_LEFTNOWORDWRAP | WS_CHILD, 0, 60, 111, 8 
   CONTROL "", IDC_INTROTEXT, STATIC, SS_LEFT | WS_CHILD, 25, 0, 241, 15 
   CONTROL "", IDC_TREE1, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_DISABLEDRAGDROP | WS_CHILD | WS_BORDER | WS_TABSTOP, 114, 28, 151, 42 
END

IDD_INST DIALOGEX 0, 0, 280, 105
STYLE DS_FIXEDSYS | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
   CONTROL "", 3, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_GROUP | WS_TABSTOP | NOT WS_VISIBLE, 171, 84, 50, 14 
   CONTROL "", 1, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_TABSTOP, 223, 84, 50, 14 
   CONTROL "", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_TABSTOP, 7, 84, 50, 14 
   CONTROL "", -1, STATIC, SS_ETCHEDHORZ | WS_CHILD | WS_GROUP, 7, 79, 265, 1 
   CONTROL "", IDC_CHILDRECT, STATIC, SS_BLACKRECT | WS_CHILD | WS_GROUP | NOT WS_VISIBLE, 7, 6, 266, 70 
   CONTROL "", IDC_VERSTR, STATIC, SS_CENTER | WS_CHILD | WS_DISABLED | WS_GROUP, 59, 86, 108, 8 
END

IDD_INSTFILES DIALOGEX 0, 0, 266, 70
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
   CONTROL "", IDC_PROGRESS, "msctls_progress32", WS_CHILD | WS_BORDER, 24, 10, 241, 11 
   CONTROL "", IDC_INTROTEXT, STATIC, SS_LEFTNOWORDWRAP | SS_NOPREFIX | WS_CHILD, 24, 0, 241, 8 
   CONTROL "", IDC_LIST1, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_NOCOLUMNHEADER | WS_CHILD | WS_BORDER | WS_TABSTOP | NOT WS_VISIBLE, 0, 22, 265, 48 
   CONTROL IDI_ICON2, IDC_ULICON, STATIC, SS_ICON | WS_CHILD, 0, 0, 20, 20 
   CONTROL "", IDC_SHOWDETAILS, BUTTON, BS_PUSHBUTTON | WS_CHILD, 0, 28, 60, 14 
END

IDD_UNINST DIALOGEX 0, 0, 266, 70
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
   CONTROL IDI_ICON2, IDC_ULICON, STATIC, SS_ICON | WS_CHILD, 0, 1, 20, 20 
   CONTROL "", IDC_UNINSTFROM, STATIC, SS_LEFT | WS_CHILD, 0, 47, 55, 8 
   CONTROL "", IDC_EDIT1, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_BORDER | WS_TABSTOP, 56, 45, 209, 12 
   CONTROL "", IDC_INTROTEXT, STATIC, SS_LEFT | WS_CHILD, 25, 0, 241, 34 
END

IDD_LICENSE_FSRB DIALOGEX 0, 0, 266, 70
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
   CONTROL IDI_ICON2, IDC_ULICON, STATIC, SS_ICON | WS_CHILD, 0, 0, 20, 20 
   CONTROL "", IDC_INTROTEXT, STATIC, SS_LEFT | WS_CHILD, 25, 0, 241, 23 
   CONTROL "", IDC_EDIT1, "RichEdit20A", ES_LEFT | ES_MULTILINE | ES_READONLY | WS_CHILD | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 0, 24, 266, 27 
   CONTROL "", IDC_LICENSEAGREE, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_TABSTOP, 0, 50, 266, 9 
   CONTROL "", IDC_LICENSEDISAGREE, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_TABSTOP, 0, 60, 266, 9 
END

IDD_LICENSE_FSCB DIALOGEX 0, 0, 266, 70
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
   CONTROL IDI_ICON2, IDC_ULICON, STATIC, SS_ICON | WS_CHILD, 0, 0, 20, 20 
   CONTROL "", IDC_INTROTEXT, STATIC, SS_LEFT | WS_CHILD, 25, 0, 241, 23 
   CONTROL "", IDC_EDIT1, "RichEdit20A", ES_LEFT | ES_MULTILINE | ES_READONLY | WS_CHILD | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 0, 24, 266, 37 
   CONTROL "", IDC_LICENSEAGREE, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_TABSTOP, 0, 60, 266, 9 
END

IDD_VERIFY DIALOGEX 0, 0, 162, 22
STYLE DS_FIXEDSYS | DS_MODALFRAME | DS_CENTER | WS_POPUP
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
   CONTROL "", IDC_STR, STATIC, SS_CENTER | WS_CHILD, 7, 7, 148, 8 
END

