#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_SELCOM DIALOGEX 0, 0, 300, 140
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    COMBOBOX        IDC_COMBO1,102,25,195,74,CBS_DROPDOWNLIST | NOT 
                    WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
    LTEXT           "",IDC_TEXT2,0,40,95,65,NOT WS_GROUP
    CONTROL         "",IDC_TEXT1,"Static",SS_LEFTNOWORDWRAP,0,25,95,8
    LTEXT           "",IDC_SPACEREQUIRED,0,115,100,18,NOT WS_GROUP
    LTEXT           "",IDC_INTROTEXT,0,0,300,20,NOT WS_GROUP
    CONTROL         "",IDC_TREE1,"SysTreeView32",TVS_HASBUTTONS | 
                    TVS_HASLINES | TVS_LINESATROOT | TVS_DISABLEDRAGDROP | 
                    WS_BORDER | WS_TABSTOP,102,40,195,65
    GROUPBOX        "",1042,102,105,195,35
    LTEXT           "",1043,108,117,183,18,NOT WS_GROUP
END
