#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_LICENSE DIALOGEX 0, 0, 300, 140
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "",1040,0,0,300,15,NOT WS_GROUP
    CONTROL         "",IDC_EDIT1,"RichEdit20A",WS_BORDER | WS_VSCROLL | 
                    WS_TABSTOP | 0x804,0,15,300,93
    LTEXT           "",IDC_INTROTEXT,0,113,300,26,NOT WS_GROUP
END

IDD_DIR DIALOGEX 0, 0, 300, 140
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    EDITTEXT        IDC_DIR,10,85,210,12,ES_AUTOHSCROLL
    PUSHBUTTON      "",IDC_BROWSE,228,83,60,15
    CONTROL         "",IDC_SPACEAVAILABLE,"Static",SS_LEFTNOWORDWRAP,0,125,
                    150,8
    CONTROL         "",IDC_CHECK1,"Button",BS_AUTOCHECKBOX | NOT WS_VISIBLE | 
                    WS_TABSTOP,180,110,118,10
    CONTROL         "",IDC_SPACEREQUIRED,"Static",SS_LEFTNOWORDWRAP,0,115,
                    150,8
    LTEXT           "",IDC_INTROTEXT,0,0,300,60,NOT WS_GROUP
    GROUPBOX        "",IDC_SELDIRTEXT,0,70,300,35
END

IDD_SELCOM DIALOGEX 0, 0, 300, 140
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    COMBOBOX        IDC_COMBO1,102,25,98,107,CBS_DROPDOWNLIST | NOT 
                    WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
    LTEXT           "",IDC_TEXT2,0,40,95,65,NOT WS_GROUP
    CONTROL         "",IDC_TEXT1,"Static",SS_LEFTNOWORDWRAP,0,25,95,8
    LTEXT           "",IDC_SPACEREQUIRED,0,115,100,18,NOT WS_GROUP
    LTEXT           "",IDC_INTROTEXT,0,0,300,20,NOT WS_GROUP
    CONTROL         "",IDC_TREE1,"SysTreeView32",TVS_HASBUTTONS | 
                    TVS_HASLINES | TVS_LINESATROOT | TVS_DISABLEDRAGDROP | 
                    WS_BORDER | WS_TABSTOP,102,40,98,95
    GROUPBOX        "",1042,210,36,89,99
    LTEXT           "",1043,215,46,78,84,NOT WS_GROUP
END

IDD_INST DIALOGEX 0, 0, 331, 222
STYLE DS_FIXEDSYS | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | 
    WS_SYSMENU
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "",3,166,201,50,14,WS_GROUP
    PUSHBUTTON      "",1,216,201,50,14
    PUSHBUTTON      "",2,273,201,50,14
    CONTROL         "",IDC_CHILDRECT,"Static",SS_BLACKRECT | NOT WS_VISIBLE | 
                    WS_GROUP,15,45,300,140
    CONTROL         "",1044,"Static",SS_BLACKRECT | NOT WS_VISIBLE | 
                    WS_GROUP,0,0,331,193
    CONTROL         "",IDC_LICENSEDISAGREE,"Static",SS_ETCHEDHORZ | WS_GROUP,
                    5,193,321,1
    CONTROL         "",1036,"Static",SS_ETCHEDHORZ | WS_GROUP,0,35,340,1
    CONTROL         "",1045,"Static",SS_ETCHEDHORZ | NOT WS_VISIBLE | 
                    WS_GROUP,0,193,340,1
    LTEXT           "",1256,5,188,322,8
    LTEXT           "",IDC_VERSTR,5,188,322,8,WS_DISABLED
    LTEXT           "",IDC_LICENSEAGREE,0,0,332,35
    LTEXT           "",1037,10,5,280,10
    LTEXT           "",1038,15,16,275,16
    ICON            103,1039,300,8,21,20,WS_GROUP
END

IDD_INSTFILES DIALOGEX 0, 0, 300, 140
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "",IDC_SHOWDETAILS,1,26,60,14,NOT WS_TABSTOP
    CONTROL         "",IDC_PROGRESS,"msctls_progress32",WS_BORDER,0,10,300,
                    11
    CONTROL         "",IDC_INTROTEXT,"Static",SS_LEFTNOWORDWRAP | 
                    SS_NOPREFIX,0,0,300,10
    CONTROL         "",IDC_LIST1,"SysListView32",LVS_REPORT | LVS_SINGLESEL | 
                    LVS_NOCOLUMNHEADER | NOT WS_VISIBLE | WS_BORDER | 
                    WS_TABSTOP,0,25,300,110
END

IDD_UNINST DIALOGEX 0, 0, 300, 140
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "",IDC_UNINSTFROM,0,42,60,8,NOT WS_GROUP
    EDITTEXT        IDC_EDIT1,65,40,234,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "",IDC_INTROTEXT,0,0,300,30,NOT WS_GROUP
END

IDD_LICENSE_FSRB DIALOGEX 0, 0, 300, 140
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "",1040,0,0,300,15,NOT WS_GROUP
    CONTROL         "",IDC_EDIT1,"RichEdit20A",WS_BORDER | WS_VSCROLL | 
                    WS_TABSTOP | 0x804,0,15,300,73
    LTEXT           "",IDC_INTROTEXT,0,93,300,26,NOT WS_GROUP
    CONTROL         "",IDC_LICENSEAGREE,"Button",BS_AUTORADIOBUTTON | 
                    WS_TABSTOP,0,120,300,9
    CONTROL         "",IDC_LICENSEDISAGREE,"Button",BS_AUTORADIOBUTTON | 
                    WS_TABSTOP,0,130,300,9
END

IDD_LICENSE_FSCB DIALOGEX 0, 0, 300, 140
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "",1040,0,0,300,15,NOT WS_GROUP
    CONTROL         "",IDC_EDIT1,"RichEdit20A",WS_BORDER | WS_VSCROLL | 
                    WS_TABSTOP | 0x804,0,15,300,83
    LTEXT           "",IDC_INTROTEXT,0,103,300,26,NOT WS_GROUP
    CONTROL         "",IDC_LICENSEAGREE,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,0,130,300,9
END

IDD_VERIFY DIALOGEX 0, 0, 167, 42
STYLE DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CTEXT           "",IDC_STR,40,25,120,10,NOT WS_GROUP
    ICON            103,-1,10,10,21,20
    CTEXT           "Please wait while Setup is loading...",76,40,10,120,10,
                    NOT WS_GROUP
END

