#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_LICENSE DIALOGEX 0, 0, 300, 140
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
   CONTROL "", 1040, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 0, 300, 15 
   CONTROL "", IDC_EDIT1, "RichEdit20A", ES_LEFT | ES_MULTILINE | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 0, 15, 300, 93 
   CONTROL "", IDC_INTROTEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 113, 300, 26 
END

IDD_DIR DIALOGEX 0, 0, 300, 140
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
   CONTROL "", IDC_DIR, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 85, 215, 12 
   CONTROL "", IDC_BROWSE, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 233, 83, 55, 15 
   CONTROL "", IDC_SPACEAVAILABLE, STATIC, SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 0, 125, 150, 8 
   CONTROL "", IDC_CHECK1, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_TABSTOP, 180, IDB_BITMAP1, 118, 10 
   CONTROL "", IDC_SPACEREQUIRED, STATIC, SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 0, 115, 150, 8 
   CONTROL "", IDC_INTROTEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 0, 300, 60 
   CONTROL "", IDC_SELDIRTEXT, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 0, 70, 300, 35 
END

IDD_SELCOM DIALOGEX 0, 0, 300, 140
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
   CONTROL "", IDC_COMBO1, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VSCROLL | WS_TABSTOP, 102, 25, 98, 107 
   CONTROL "", IDC_TEXT2, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 40, 95, 65 
   CONTROL "", IDC_TEXT1, STATIC, SS_LEFTNOWORDWRAP | WS_CHILD | WS_VISIBLE, 0, 25, 95, 8 
   CONTROL "", IDC_SPACEREQUIRED, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 115, 100, 18 
   CONTROL "", IDC_INTROTEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 0, 300, 20 
   CONTROL "", IDC_TREE1, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_DISABLEDRAGDROP | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 102, 40, 98, 95 
   CONTROL "", 1042, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 210, 36, 89, 99 
   CONTROL "", 1043, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 215, 46, 78, 84 
END

IDD_INST DIALOGEX 0, 0, 331, 222
STYLE DS_FIXEDSYS | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
   CONTROL "", 3, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 166, 201, 50, 14 
   CONTROL "", 1, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 216, 201, 50, 14 
   CONTROL "", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 273, 201, 50, 14 
   CONTROL "", IDC_CHILDRECT, STATIC, SS_BLACKRECT | WS_CHILD | WS_GROUP, 15, 45, 300, 140 
   CONTROL "", 1044, STATIC, SS_BLACKRECT | WS_CHILD | WS_GROUP, 0, 0, 331, 193 
   CONTROL "", IDC_LICENSEDISAGREE, STATIC, SS_ETCHEDHORZ | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 193, 321, 1 
   CONTROL "", 1036, STATIC, SS_ETCHEDHORZ | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 35, 340, 1 
   CONTROL "", 1045, STATIC, SS_ETCHEDHORZ | WS_CHILD | WS_GROUP, 0, 193, 340, 1 
   CONTROL "", 1256, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 188, 322, 8 
   CONTROL "", IDC_VERSTR, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_DISABLED | WS_GROUP, 5, 188, 322, 8 
   CONTROL "", IDC_LICENSEAGREE, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 0, 332, 35 
   CONTROL "", 1037, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 5, 280, 10 
   CONTROL "", 1038, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 16, 275, 16 
   CONTROL IDI_ICON2, 1039, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE | WS_GROUP, 300, 8, 21, 20 
END

IDD_INSTFILES DIALOGEX 0, 0, 300, 140
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
   CONTROL "", IDC_SHOWDETAILS, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE, 1, 26, 60, 14 
   CONTROL "", IDC_PROGRESS, "msctls_progress32", WS_CHILD | WS_VISIBLE | WS_BORDER, 0, 10, 300, 11 
   CONTROL "", IDC_INTROTEXT, STATIC, SS_LEFTNOWORDWRAP | SS_NOPREFIX | WS_CHILD | WS_VISIBLE, 0, 0, 300, 10 
   CONTROL "", IDC_LIST1, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_NOCOLUMNHEADER | WS_CHILD | WS_BORDER | WS_TABSTOP, 0, 25, 300, 110 
END

IDD_UNINST DIALOGEX 0, 0, 300, 140
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
   CONTROL "", IDC_UNINSTFROM, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 42, 60, 8 
   CONTROL "", IDC_EDIT1, EDIT, ES_LEFT | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 65, 40, 234, 12 
   CONTROL "", IDC_INTROTEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 0, 300, 30 
END

IDD_LICENSE_FSRB DIALOGEX 0, 0, 300, 140
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
   CONTROL "", 1040, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 0, 300, 15 
   CONTROL "", IDC_EDIT1, "RichEdit20A", ES_LEFT | ES_MULTILINE | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 0, 15, 300, 73 
   CONTROL "", IDC_INTROTEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 93, 300, 26 
   CONTROL "", IDC_LICENSEAGREE, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 120, 300, 9 
   CONTROL "", IDC_LICENSEDISAGREE, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 130, 300, 9 
END

IDD_LICENSE_FSCB DIALOGEX 0, 0, 300, 140
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
   CONTROL "", 1040, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 0, 300, 15 
   CONTROL "", IDC_EDIT1, "RichEdit20A", ES_LEFT | ES_MULTILINE | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 0, 15, 300, 83 
   CONTROL "", IDC_INTROTEXT, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE, 0, 103, 300, 26 
   CONTROL "", IDC_LICENSEAGREE, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 130, 300, 9 
END

IDD_VERIFY DIALOGEX 0, 0, 167, 42
STYLE DS_FIXEDSYS | DS_MODALFRAME | DS_CENTER | WS_POPUP
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Shell Dlg"
BEGIN
   CONTROL "", IDC_STR, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE, 40, 25, 120, 10 
   CONTROL IDI_ICON2, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 10, 10, 21, 20 
   CONTROL "Please wait while Setup is loading...", 76, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE, 40, 10, 120, 10 
END

