#include "resource.h"

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

IDD_LICENSE DIALOGEX 0, 0, 266, 70
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    ICON            103,IDC_ULICON,0,0,20,20
    LTEXT           "",IDC_INTROTEXT,25,0,241,23,NOT WS_GROUP
    CONTROL         "",IDC_EDIT1,"RichEdit20A",WS_BORDER | WS_VSCROLL | 
                    WS_TABSTOP | 0x804,0,24,266,47
END

IDD_DIR DIALOGEX 0, 0, 266, 70
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    EDITTEXT        IDC_DIR,8,35,187,12,ES_AUTOHSCROLL
    PUSHBUTTON      "",IDC_BROWSE,202,34,55,14
    ICON            103,IDC_ULICON,0,0,20,20
    CONTROL         "",IDC_SELDIRTEXT,"Static",SS_LEFTNOWORDWRAP,0,22,265,8
    CONTROL         "",IDC_SPACEAVAILABLE,"Static",SS_LEFTNOWORDWRAP,1,63,
                    265,8
    CONTROL         "",IDC_SPACEREQUIRED,"Static",SS_LEFTNOWORDWRAP,1,54,265,
                    8
    LTEXT           "",IDC_INTROTEXT,25,0,241,18,NOT WS_GROUP
END

IDD_SELCOM DIALOGEX 0, 0, 266, 70
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    COMBOBOX        IDC_COMBO1,114,15,152,94,CBS_DROPDOWNLIST | NOT 
                    WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
    ICON            103,IDC_ULICON,0,0,21,20
    LTEXT           "",IDC_TEXT2,0,33,108,29,NOT WS_GROUP
    CONTROL         "",IDC_TEXT1,"Static",SS_LEFTNOWORDWRAP,0,20,108,8
    CONTROL         "",IDC_SPACEREQUIRED,"Static",SS_LEFTNOWORDWRAP,0,60,111,
                    8
    LTEXT           "",IDC_INTROTEXT,25,0,241,15,NOT WS_GROUP
    CONTROL         "",IDC_TREE1,"SysTreeView32",TVS_HASBUTTONS | 
                    TVS_HASLINES | TVS_LINESATROOT | TVS_DISABLEDRAGDROP | 
                    WS_BORDER | WS_TABSTOP,114,28,151,42
END

IDD_INST DIALOGEX 0, 0, 280, 105
STYLE DS_FIXEDSYS | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | 
    WS_SYSMENU
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "",3,171,84,50,14,NOT WS_VISIBLE | WS_GROUP
    PUSHBUTTON      "",1,223,84,50,14
    PUSHBUTTON      "",2,7,84,50,14
    CONTROL         "",-1,"Static",SS_ETCHEDHORZ | WS_GROUP,7,79,265,1
    CONTROL         "",IDC_CHILDRECT,"Static",SS_BLACKRECT | NOT WS_VISIBLE | 
                    WS_GROUP,7,6,266,70
    CTEXT           "",IDC_VERSTR,59,86,108,8,WS_DISABLED
END

IDD_INSTFILES DIALOGEX 0, 0, 266, 70
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "",IDC_PROGRESS,"msctls_progress32",WS_BORDER,24,10,241,
                    11
    CONTROL         "",IDC_INTROTEXT,"Static",SS_LEFTNOWORDWRAP | 
                    SS_NOPREFIX,24,0,241,8
    CONTROL         "",IDC_LIST1,"SysListView32",LVS_REPORT | LVS_SINGLESEL | 
                    LVS_NOCOLUMNHEADER | NOT WS_VISIBLE | WS_BORDER | 
                    WS_TABSTOP,0,22,265,48
    ICON            103,IDC_ULICON,0,0,20,20
    PUSHBUTTON      "",IDC_SHOWDETAILS,0,28,60,14,NOT WS_TABSTOP
END

IDD_UNINST DIALOGEX 0, 0, 266, 70
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    ICON            103,IDC_ULICON,0,1,20,20
    LTEXT           "",IDC_UNINSTFROM,0,47,55,8,NOT WS_GROUP
    EDITTEXT        IDC_EDIT1,56,45,209,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "",IDC_INTROTEXT,25,0,241,34,NOT WS_GROUP
END

IDD_LICENSE_FSRB DIALOGEX 0, 0, 266, 70
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    ICON            103,IDC_ULICON,0,0,20,20
    LTEXT           "",IDC_INTROTEXT,25,0,241,23,NOT WS_GROUP
    CONTROL         "",IDC_EDIT1,"RichEdit20A",WS_BORDER | WS_VSCROLL | 
                    WS_TABSTOP | 0x804,0,24,266,27
    CONTROL         "",IDC_LICENSEAGREE,"Button",BS_AUTORADIOBUTTON | 
                    WS_TABSTOP,0,50,266,9
    CONTROL         "",IDC_LICENSEDISAGREE,"Button",BS_AUTORADIOBUTTON | 
                    WS_TABSTOP,0,60,266,9
END

IDD_LICENSE_FSCB DIALOGEX 0, 0, 266, 70
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    ICON            103,IDC_ULICON,0,0,20,20
    LTEXT           "",IDC_INTROTEXT,25,0,241,23,NOT WS_GROUP
    CONTROL         "",IDC_EDIT1,"RichEdit20A",WS_BORDER | WS_VSCROLL | 
                    WS_TABSTOP | 0x804,0,24,266,37
    CONTROL         "",IDC_LICENSEAGREE,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,0,60,266,9
END

IDD_VERIFY DIALOGEX 0, 0, 162, 22
STYLE DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CTEXT           "",IDC_STR,7,7,148,8,NOT WS_GROUP
END
