#include "resource.h"

/*
	External definitions:
	--------------------
	cxMAIN
	cyMAIN
	RC_HEADER_BMP
	RC_HEADER_BMP_RIGHT
	RC_COMP_NODESC
	RC_COMP_SMALLDESC
*/

#ifndef cxMAIN
	#define cxMAIN 331
#endif
#ifndef cyMAIN
	#define cyMAIN 222
#endif

#define cxPAGE (cxMAIN - 31)
#define cyPAGE (cyMAIN - 82)

#define SPACING 7

/* -------------------------------------------------------------- */

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

/* Main window */
#define xMAINCANCEL	(cxMAIN-50-SPACING)
#define xMAINNEXT	(xMAINCANCEL-80-SPACING)
#define xMAINBACK	(xMAINNEXT-50)
#define yMAINAREA	(cyMAIN-SPACING-14-SPACING-1)
#define xMAINICON	(cxMAIN-SPACING-24)

#if defined(RC_HEADER_BMP)

/* Main window (BMP header) */
IDD_INST DIALOGEX 0, 0, cxMAIN, cyMAIN
STYLE DS_FIXEDSYS | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "",3,xMAINBACK,cyMAIN-14-SPACING,50,14,WS_GROUP
    PUSHBUTTON      "",1,xMAINNEXT,cyMAIN-14-SPACING,80,14
    PUSHBUTTON      "",2,xMAINCANCEL,cyMAIN-14-SPACING,50,14
    CONTROL         "",IDC_CHILDRECT,"Static",SS_BLACKRECT | NOT WS_VISIBLE | WS_GROUP,15,45,cxPAGE,cyPAGE
    CONTROL         "",1044,"Static",SS_BLACKRECT | NOT WS_VISIBLE | WS_GROUP,0,0,cxMAIN,yMAINAREA
    CONTROL         "",IDC_LICENSEDISAGREE,"Static",SS_ETCHEDHORZ | WS_GROUP,5,yMAINAREA,cxMAIN-2*5,1
    CONTROL         "",1036,"Static",SS_ETCHEDHORZ | WS_GROUP,0,35,cxMAIN+2,1
    CONTROL         "",1045,"Static",SS_ETCHEDHORZ | NOT WS_VISIBLE | WS_GROUP,0,yMAINAREA,cxMAIN+2,1
    LTEXT           "",1256,5,yMAINAREA-4,cxMAIN-2*5,8
    LTEXT           "",IDC_VERSTR,5,yMAINAREA-5,cxMAIN-2*5,8,WS_DISABLED
    LTEXT           "",IDC_LICENSEAGREE,0,0,cxMAIN+1,35
    LTEXT           "",1037,105,5,cxMAIN-105-SPACING,10
    LTEXT           "",1038,110,16,cxMAIN-110-SPACING,16
    CONTROL         "",1046,"Static",SS_BITMAP,0,0,100,35
END

#elif defined(RC_HEADER_BMP_RIGHT)

/* Main window (BMP header, right-aligned) */
IDD_INST DIALOGEX 0, 0, cxMAIN, cyMAIN
STYLE DS_FIXEDSYS | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "",3,xMAINBACK,cyMAIN-14-SPACING,50,14,WS_GROUP
    PUSHBUTTON      "",1,xMAINNEXT,cyMAIN-14-SPACING,80,14
    PUSHBUTTON      "",2,xMAINCANCEL,cyMAIN-14-SPACING,50,14
    CONTROL         "",IDC_CHILDRECT,"Static",SS_BLACKRECT | NOT WS_VISIBLE | WS_GROUP,15,45,cxPAGE,cyPAGE
    CONTROL         "",1044,"Static",SS_BLACKRECT | NOT WS_VISIBLE | WS_GROUP,0,0,cxMAIN,yMAINAREA
    CONTROL         "",IDC_LICENSEDISAGREE,"Static",SS_ETCHEDHORZ | WS_GROUP,5,yMAINAREA,cxMAIN-2*5,1
    CONTROL         "",1036,"Static",SS_ETCHEDHORZ | WS_GROUP,0,35,cxMAIN+2,1
    CONTROL         "",1045,"Static",SS_ETCHEDHORZ | NOT WS_VISIBLE | WS_GROUP,0,yMAINAREA,cxMAIN+2,1
    LTEXT           "",1256,5,yMAINAREA-4,cxMAIN-2*5,8
    LTEXT           "",IDC_VERSTR,5,yMAINAREA-5,cxMAIN-2*5,8,WS_DISABLED
    LTEXT           "",IDC_LICENSEAGREE,0,0,cxMAIN+1,35
    LTEXT           "",1037,10,5,cxMAIN-100-SPACING-10,10
    LTEXT           "",1038,15,16,cxMAIN-100-SPACING-15,16
    CONTROL         "",1046,"Static",SS_BITMAP,cxMAIN-100,0,100,35
END

#else

#define cxCOMDESC 90
#define cyCOMPSMDESC 35

#if defined (RC_COMP_SMALLDESC)

/* Components page (small description) */
IDD_SELCOM DIALOGEX 0, 0, cxPAGE, cyPAGE
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "",IDC_INTROTEXT,0,0,cxPAGE,25,NOT WS_GROUP
    CONTROL         "",IDC_TEXT1,"Static",SS_LEFTNOWORDWRAP,0,27,95,8
    COMBOBOX        IDC_COMBO1,102,25,cxPAGE-102,107,CBS_DROPDOWNLIST | NOT WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
    LTEXT           "",IDC_TEXT2,0,40,95,65,NOT WS_GROUP
    LTEXT           "",IDC_SPACEREQUIRED,0,115,100,18,NOT WS_GROUP
    CONTROL         "",IDC_TREE1,"SysTreeView32",TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_DISABLEDRAGDROP | WS_BORDER | WS_TABSTOP,102,40,cxPAGE-102,cyPAGE-40-cyCOMPSMDESC-2
    GROUPBOX        "",1042,102,cyPAGE-cyCOMPSMDESC,cxPAGE-102,cyCOMPSMDESC
    LTEXT           "",1043,102+SPACING,cyPAGE-cyCOMPSMDESC+SPACING+3,cxPAGE-102-2*SPACING,cyCOMPSMDESC-2*SPACING-3
END

#elif defined (RC_COMP_NODESC)

/* Component page (No description) */
IDD_SELCOM DIALOGEX 0, 0, cxPAGE, cyPAGE
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "",IDC_INTROTEXT,0,0,cxPAGE,25,NOT WS_GROUP
    CONTROL         "",IDC_TEXT1,"Static",SS_LEFTNOWORDWRAP,0,27,95,8
    COMBOBOX        IDC_COMBO1,102,25,cxPAGE-102,107,CBS_DROPDOWNLIST | NOT WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
    LTEXT           "",IDC_TEXT2,0,40,95,65,NOT WS_GROUP
    LTEXT           "",IDC_SPACEREQUIRED,0,115,100,18,NOT WS_GROUP
    CONTROL         "",IDC_TREE1,"SysTreeView32",TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_DISABLEDRAGDROP | WS_BORDER | WS_TABSTOP,102,40,cxPAGE-102,cyPAGE-40-SPACING
END

#else

/* Main window */
IDD_INST DIALOGEX 0, 0, cxMAIN, cyMAIN
STYLE DS_FIXEDSYS | DS_CENTER | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "",3,xMAINBACK,cyMAIN-14-SPACING,50,14,WS_GROUP
    PUSHBUTTON      "",1,xMAINNEXT,cyMAIN-14-SPACING,80,14
    PUSHBUTTON      "",2,xMAINCANCEL,cyMAIN-14-SPACING,50,14
    CONTROL         "",IDC_CHILDRECT,"Static",SS_BLACKRECT | NOT WS_VISIBLE | WS_GROUP,15,45,cxPAGE,cyPAGE
    CONTROL         "",1044,"Static",SS_BLACKRECT | NOT WS_VISIBLE | WS_GROUP,0,0,cxMAIN,yMAINAREA
    CONTROL         "",IDC_LICENSEDISAGREE,"Static",SS_ETCHEDHORZ | WS_GROUP,5,yMAINAREA,cxMAIN-2*5,1
    CONTROL         "",1036,"Static",SS_ETCHEDHORZ | WS_GROUP,0,35,cxMAIN+2,1
    CONTROL         "",1045,"Static",SS_ETCHEDHORZ | NOT WS_VISIBLE | WS_GROUP,0,yMAINAREA,cxMAIN+2,1
    LTEXT           "",1256,5,yMAINAREA-4,cxMAIN-2*5,8
    LTEXT           "",IDC_VERSTR,5,yMAINAREA-5,cxMAIN-2*5,8,WS_DISABLED
    LTEXT           "",IDC_LICENSEAGREE,0,0,cxMAIN+1,35
    LTEXT           "",1037,10,5,cxMAIN-51,10
    LTEXT           "",1038,15,16,cxMAIN-56,16
    ICON            103,1039,xMAINICON,SPACING+1,21,20,WS_GROUP
END

/* License page */
#define cyLICTITLE 15
#define cyLICINTRO 26

IDD_LICENSE DIALOGEX 0, 0, cxPAGE, cyPAGE
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "",1040,0,0,cxPAGE,cyLICTITLE,NOT WS_GROUP
    CONTROL         "",IDC_EDIT1,RICHEDIT_CLASS,WS_BORDER | WS_VSCROLL | WS_TABSTOP | 0x804,0,cyLICTITLE,cxPAGE,cyPAGE-cyLICINTRO-cyLICTITLE-5
    LTEXT           "",IDC_INTROTEXT,0,cyPAGE-cyLICINTRO,cxPAGE,cyLICINTRO,NOT WS_GROUP
END

/* License page with Radio buttons */
#define yLICINTRO_FSRB (cyPAGE - SPACING - 9 - 2 - 9 - 0 - cyLICINTRO)

IDD_LICENSE_FSRB DIALOGEX 0, 0, cxPAGE, cyPAGE
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "",1040,0,0,cxPAGE,cyLICTITLE,NOT WS_GROUP
    CONTROL         "",IDC_EDIT1,RICHEDIT_CLASS,WS_BORDER | WS_VSCROLL | WS_TABSTOP | 0x804,0,cyLICTITLE,cxPAGE,yLICINTRO_FSRB-SPACING-cyLICTITLE
    LTEXT           "",IDC_INTROTEXT,0,yLICINTRO_FSRB,cxPAGE,cyLICINTRO,NOT WS_GROUP
    CONTROL         "",IDC_LICENSEAGREE,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,0,yLICINTRO_FSRB+cyLICINTRO+0,cxPAGE,9
    CONTROL         "",IDC_LICENSEDISAGREE,"Button",BS_AUTORADIOBUTTON | WS_TABSTOP,0,yLICINTRO_FSRB+cyLICINTRO+0+9+2,cxPAGE,9
END

/* License page with Check box */
#define yLICINTRO_FSCB (cyPAGE - SPACING - 9 - 0 - cyLICINTRO)

IDD_LICENSE_FSCB DIALOGEX 0, 0, cxPAGE, cyPAGE
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD | WS_CAPTION
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "",1040,0,0,cxPAGE,cyLICTITLE,NOT WS_GROUP
    CONTROL         "",IDC_EDIT1,RICHEDIT_CLASS,WS_BORDER | WS_VSCROLL | WS_TABSTOP | 0x804,0,cyLICTITLE,cxPAGE,yLICINTRO_FSCB-SPACING-cyLICTITLE
    LTEXT           "",IDC_INTROTEXT,0,yLICINTRO_FSCB,cxPAGE,cyLICINTRO,NOT WS_GROUP
    CONTROL         "",IDC_LICENSEAGREE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,0,cyPAGE-SPACING-9,cxPAGE,9
END

/* Directory page */
IDD_DIR DIALOGEX 0, 0, cxPAGE, cyPAGE
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    EDITTEXT        IDC_DIR,10,84,cxPAGE-10-60-10-SPACING,12,ES_AUTOHSCROLL
    PUSHBUTTON      "",IDC_BROWSE,cxPAGE-60-10,83,60,15
    CONTROL         "",IDC_SPACEAVAILABLE,"Static",SS_LEFTNOWORDWRAP,0,125,150,8
    CONTROL         "",IDC_CHECK1,"Button",BS_AUTOCHECKBOX | NOT WS_VISIBLE | WS_TABSTOP,180,110,cxPAGE-180,10
    CONTROL         "",IDC_SPACEREQUIRED,"Static",SS_LEFTNOWORDWRAP,0,115,150,8
    LTEXT           "",IDC_INTROTEXT,0,0,cxPAGE,60,NOT WS_GROUP
    GROUPBOX        "",IDC_SELDIRTEXT,0,70,cxPAGE,35
END

/* Components page */
IDD_SELCOM DIALOGEX 0, 0, cxPAGE, cyPAGE
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "",IDC_INTROTEXT,0,0,cxPAGE,25,NOT WS_GROUP
    CONTROL         "",IDC_TEXT1,"Static",SS_LEFTNOWORDWRAP,0,27,95,8
    COMBOBOX        IDC_COMBO1,102,25,cxPAGE-cxCOMDESC-SPACING-102,107,CBS_DROPDOWNLIST | NOT WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
    LTEXT           "",IDC_TEXT2,0,40,95,65,NOT WS_GROUP
    LTEXT           "",IDC_SPACEREQUIRED,0,115,100,18,NOT WS_GROUP
    CONTROL         "",IDC_TREE1,"SysTreeView32",TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_DISABLEDRAGDROP | WS_BORDER | WS_TABSTOP,102,40,cxPAGE-cxCOMDESC-SPACING-102,cyPAGE-40-SPACING
    GROUPBOX        "",1042,cxPAGE-cxCOMDESC,36,cxCOMDESC,cyPAGE-36-SPACING
    LTEXT           "",1043,cxPAGE-cxCOMDESC+SPACING,36+SPACING+3,cxCOMDESC-2*SPACING,cyPAGE-36-SPACING-2*SPACING-3,NOT WS_GROUP
END

/* InstFiles page */
IDD_INSTFILES DIALOGEX 0, 0, cxPAGE, cyPAGE
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "",IDC_SHOWDETAILS,0,26,60,14,NOT WS_TABSTOP
    CONTROL         "",IDC_PROGRESS,"msctls_progress32",WS_BORDER,0,10,cxPAGE,11
    CONTROL         "",IDC_INTROTEXT,"Static",SS_LEFTNOWORDWRAP | SS_NOPREFIX,0,0,cxPAGE,10
    CONTROL         "",IDC_LIST1,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_NOCOLUMNHEADER | NOT WS_VISIBLE | WS_BORDER | WS_TABSTOP,0,25,cxPAGE,cyPAGE-25
END

/* Uninstall page */
IDD_UNINST DIALOGEX 0, 0, cxPAGE, cyPAGE
STYLE DS_FIXEDSYS | DS_CONTROL | WS_CHILD
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "",IDC_UNINSTFROM,0,42,60,8,NOT WS_GROUP
    EDITTEXT        IDC_EDIT1,65,40,cxPAGE-65-1,12,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "",IDC_INTROTEXT,0,0,cxPAGE,30,NOT WS_GROUP
END

/* CRC verification window */
IDD_VERIFY DIALOGEX 0, 0, 167, 42
STYLE DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CTEXT           "",IDC_STR,40,25,120,10,NOT WS_GROUP
    ICON            103,-1,10,10,21,20
    CTEXT           "Please wait while Setup is loading...",76,40,10,120,10,NOT WS_GROUP
END

#endif	/* RC_COMP_SMALLDESC || RC_COMP_NODESC */
#endif	/* RC_HEADER_BMP || RC_HEADER_BMP_RIGHT */
